img { height: 300px; width: 400px; display: block; margin-left: auto;margin-right: auto;}

.trials { color: red; text-align: center; font-size: xxx-large; -webkit-text-stroke: 2px black}



img {
    animation-name: img;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}

@keyframes img {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }
}